body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.brand-logo {
  margin-right: 10px;
}

form {
  padding: 20px;
  margin: 60px 20px 0px;
}

.note {
  padding: 10px;
  margin-bottom: 30px;
}

.nodelist {
  margin-top: 60px;
  padding: 20px;
}
